<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/title.ejs') %>
        <%- include('./partials/nav.ejs') %>

        <div class="home content">
            <h2>Content</h2>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
